DATABASE_URL=postgresql://demo:local-demo-only@127.0.0.1:5199/tofu_movies
NEXTAUTH_URL=http://127.0.0.1:5198
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MOVIE_KEY=
OMDB_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
